<audio autoplay muted>
  <source src="assets/espresso.mp3" type="audio/mpeg">
</audio>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <img src="assets/espressco.png" alt="Home" style="width: auto; height: 100%; max-width: 100%;">
</div>

<div>
  <a href="https://www.etsy.com/shop/theespressco" target="_blank" style="text-decoration: none;">
  <img 
    src="assets/myshop.png" 
    alt="My Shop" 
    style="
      position: absolute; 
      top: 40%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      z-index: 10; 
      height: 75px; 
      width: auto; 
      opacity: 0; 
      transition: opacity 0.3s;
      cursor: pointer;"
    onmouseover="this.style.opacity='1'" 
    onmouseout="this.style.opacity='0'"
  />
  </a>
</div>

<a href="https://theespressco.mailerpage.io/contact" target="_blank" style="text-decoration: none;">
<img src="assets/sign.png" alt="Sign" 
style="
      position: absolute; 
      top: 87%; 
      left: 66%; 
      transform: translate(-50%, -50%); 
      z-index: 10; 
      height: 225px; 
      width: auto;
      opacity: 0; 
      transition: opacity 0.3s;
      cursor: pointer;"
    onmouseover="this.style.opacity='1'" 
    onmouseout="this.style.opacity='0'"
/>
<img src="assets/bluebear.gif" alt="Blue Bear" 
style="
      position: absolute; 
      top: 58%; 
      left: 63%; 
      transform: translate(-50%, -50%); 
      z-index: 10; 
      height: 145px; 
      width: auto;      
      opacity: 0; 
      transition: opacity 0.3s;
      cursor: pointer;"
    onmouseover="this.style.opacity='1'" 
    onmouseout="this.style.opacity='0'"/>

<router-outlet />
